<div id="board">
  <div class="board-title">
    {{ board?.name }}
  </div>

  <div class="board-content">
    <div class="board-posts">
      @for (post of board?.posts; track $index) {
      <mat-divider></mat-divider>
      <app-postitem [post]="post"></app-postitem>
      }
    </div>

    <mat-card appearance="outlined" class="board-info">
      <mat-card-content>
        <div class="board-desc">{{ board?.description }}</div>
        <div class="board-date">Créé le {{ board?.createdAt }}</div>
        <div class="board-membre-number">2565 membres</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
