<div id="board">
  <div class="board-title">
    {{ name }}
  </div>

  <div class="board-content">
    <div class="board-posts">
      <mat-divider></mat-divider>
      <app-postitem></app-postitem>
      <mat-divider></mat-divider>
      <app-postitem></app-postitem>
      <mat-divider></mat-divider>
      <app-postitem></app-postitem>
      <mat-divider></mat-divider>
    </div>

    <mat-card appearance="outlined" class="board-info">
      <mat-card-content>
        <div class="board-desc">Descritpino ouiiiii</div>
        <div class="board-date">Créé le 21/21/2111</div>
        <div class="board-membre-number">2565 membres</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
