#board {
  margin-left: 75px;
  margin-right: 75px;
  z-index: 1;
}

.board-content {
  display: flex;
  gap: 50px;
}

.board-title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
}

.board-posts {
  flex-grow: 1;
}

.board-info {
  width: 200px;
  height: 100%;
  border: 0px;
  background-color: rgb(230, 230, 230);
}

.board-desc {
  margin-bottom: 10px;
}

.board-date,
.board-membre-number {
  font-size: 14px;
}
