<div id="sidebar">
  <div class="sidebar-title">Thèmes</div>
  <div class="sidebar-content">
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
    <div class="theme">
      <img class="theme_icon" src="video-game.svg" width="25" /><span
        class="theme-title"
        >Jeu vidéo</span
      >
    </div>
  </div>
</div>
