#sidebar {
  padding: 5px;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: 250px;
  border-right: 1px solid grey;
}

.sidebar-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.theme:hover {
  background-color: rgb(230, 230, 230);
}

.theme_icon {
  margin-right: 5px;
}
