.post-item {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 0px;
}

.post-item:hover {
  background-color: rgb(235, 235, 235);
}

.post-header {
  font-size: 13px;
}

.board-name {
  font-weight: 600;
}
