<div id="header">
  <div class="header-logo">
    <a href="/"><img src="favicon.ico" alt="logo" /></a>
  </div>

  <form class="header-form">
    <input placeholder="Rechercher" />
  </form>

  <div class="header-links">
    @if (isLogged) {
    <button mat-raised-button (click)="logout()">Se déconnecter</button>
    } @else {
    <button mat-raised-button (click)="openLoginDialog()">Se connecter</button>
    <button mat-flat-button (click)="openRegisterDialog()">S'inscrire</button>
    }
  </div>
</div>
