<div id="new-post">
  <div>Nouveau post</div>
  <form class="new-post-form" [formGroup]="postForm" (ngSubmit)="createPost()">
    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contenu</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Board</mat-label>
      <mat-select formControlName="boardName">
        @for (board of boards; track $index) {
        <mat-option [value]="board.name">{{ board.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-flat-button [disabled]="postForm.invalid">
      Valider
    </button>
  </form>
</div>
